header {
    max-width: 1400px;
    position: sticky;
    top: 0;
    z-index: 1;
    margin: 0 auto;
}

.header-top {
    background: rgba(16, 187, 213, 1);
    padding: 25px 0;
    display: flex;
}

.container {
    margin: auto 50px;
    max-width: 1400px;
}

.logo-name {
    margin-left: 50px;
    font-family: Cabin , sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
color: rgba(248, 253, 254, 1);
text-decoration: none;
}

.logo {
    margin-right: 10px;
}

.cost {
    font-family: Cabin, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(248, 253, 254, 1);
    padding-top: 10px;
    margin-right: 10px;
}

.cart-icon {
    border: none;
    background-color: rgba(255, 0, 0, 0);
    background-image: url(../images/cart_icon.svg);
    padding: 20px 20px;
    background-repeat: no-repeat;
    font-size: 14px;
}

.cart-icon-number {
    position: relative;
    bottom: 11px;
    right: 1px;
}

.cart {
    display: flex;
    margin-left: auto;
    margin-right: 45px;
}

.header-bottom {
    padding: 5px 0;
    display: flex;
    background-color: white;
}

.header-bottom-category {
    font-family: Cabin, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    margin-left: 50px;
}

.header-bottom-text {
    font-family: Cabin, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    margin-left: 40px;
    margin-right: 50px;
}

.header-bottom-left-text {
    margin-left: auto;
}

main {
    background: rgba(238, 238, 239, 1);
    max-width: 1400px;
    margin: 0 auto;
}

.all-cards {
    display: grid;
    grid-template-columns: 306px 306px 306px 306px;
    margin-top: 30px;
    row-gap: 35px;
    column-gap: 25px;
}

.card {
    background-color: rgba(248, 253, 254, 1);
    border: 1px solid rgba(168, 168, 168, 1);
    padding: 30px 25px;
    position: relative;
}

.card__name {
    font-family: Cabin, sans-serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    border-bottom: 1px solid rgba(168, 168, 168, 1);
    color: rgba(31, 31, 31, 1);
    padding-bottom: 3px;
    display: block;
    width: 242px;
}

.title {
    font-family: Cabin, sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(31, 31, 31, 1);
    border-bottom: 1px solid rgba(168, 168, 168, 1);
    padding: 20px 0px;
}

.cardphoto {
    padding: 0px 33px;
    margin-bottom: 20px;
}

.card__author {
    font-family: Cabin, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(142, 142, 142, 1);
    margin-top: 2px;
}

.card__cost {
    font-family: Cabin, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(233, 0, 0, 1);
    margin-top: 10px;
    margin-bottom: 15px;
}

.card__btn {
    font-family: Cabin, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    padding: 8px 78px;
    background: rgba(76, 57, 78, 1);
    color: rgba(248, 253, 254, 1);
    border: none;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
}

.card__btn2 {
    font-family: Cabin, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    padding: 8px 101px;
    background: rgba(77, 118, 45, 1);
    color: rgba(248, 253, 254, 1);
    border: none;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
}

.card__btn:hover {
    background: rgba(116, 73, 120, 1);
    transition: 0.5s;
}

.card__btn2:hover {
    background: rgba(109, 178, 54, 1);
    transition: 0.5s;
}

.Chat {
    border: none;
    background-color: rgba(0, 255, 255, 0);
    position: sticky;
    bottom: 0;
    display: block;
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.Chat:hover {
transform: rotate(390deg);
transition: 0.5s;
}

.price-tag {
    display: flex;
}

.card__old-cost {
    font-family: Cabin , sans-serif;
font-size: 24px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
color: rgba(142, 142, 142, 1);
text-decoration: line-through;
margin-top: 10px;
margin-left: 30px;
}

.hit {
    font-family: Cabin , sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(248, 253, 254, 1); 
    background: rgba(66, 0, 255, 1);
    padding: 4px 8px;
    position: absolute;
    border-radius: 4px;
}

.new {
    font-family: Cabin , sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(248, 253, 254, 1); 
    background: rgba(175, 57, 231, 1);
    padding: 4px 8px;
    position: absolute;
    border-radius: 4px;
}

.sale-new {
    font-family: Cabin , sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(248, 253, 254, 1); 
    background: rgba(175, 57, 231, 1);
    padding: 4px 8px;
    border-radius: 4px;   
    background: rgba(234, 51, 192, 1);
    position: absolute;
    right: 157px;
}

.sale {
    font-family: Cabin , sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(248, 253, 254, 1); 
    background: rgba(175, 57, 231, 1);
    padding: 4px 8px;
    border-radius: 4px;   
    background: rgba(234, 51, 192, 1);
    position: absolute;
    right: 168px;
}

footer {
    background: rgba(76, 57, 78, 1);
    max-width: 1400px;
    margin: 0 auto;
}

.copyright {
    font-family: Cabin , sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(248, 253, 254, 1);  
}

.footer__text {
    padding: 30px 0px;
    display: flex;
    margin: auto 50px
}

.reserved {
    font-family: Cabin , sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: rgba(248, 253, 254, 1);
margin-left: auto;
}